.gifts-for-all {
  display: grid;
  grid-template:
    "heading"
    "description"
    "card" /
    1fr;
  justify-items: center;
}

.gifts-for-all-heading {
  font-weight: 300;
  font-size: 3.2em;
  line-height: 1.19;
  margin-top: 96px;
  grid-area: heading;
}

.gifts-for-all-text {
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1.36;
  text-align: center;
  width: 952px;
  margin-top: 23px;
  grid-area: description;
}

nav {
  grid-area: card;
  margin-top: 64px;
}
.gifts-for-all-card {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.gifts-for-all-card li {
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
  background-color: #fafafa;
  width: 270px;

  display: grid;
  grid-template:
    "image"
    "description-card"
    "link"/
    1fr;
}

.gifts-for-all-card img {
  width: inherit;
  height: auto;
  grid-area: image;
  margin-bottom: 24px;
}

.gifts-for-all-card h3 {
  font-weight: 300;
  font-size: 2em;
  line-height: 1.2;
  grid-area: description-card;
  margin-bottom: 74px;
  margin-left: 24px;
}

.gifts-for-all-card a {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.35;
  margin-bottom: 24px;
  grid-area: link;
  margin-left: 24px;
}
